* {
    box-sizing: border-box;
}


/* HEADER */

header {
    background-color: #FFC017;
    border-bottom: 1px solid black;
    min-height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.4s ease-in-out;
}

header.scrolled {
    background-color: white;
}



/* .trending-article {
    width: 90%;
    margin: 0 100px;
} */

#container-header {
    padding: 20px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;
    justify-content: space-around; */
}

.logo {
    margin-block: auto;
    margin-right: 20rem;
}

#container-header ul {
    list-style-type: none;
    display: flex;

}

#container-header ul li {
    margin-right: 30px;
    cursor: pointer;
    font-size: 25px;
    margin-block: auto;
}

.button {
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;

}

.button-header {
    background-color: black;
    color: white;
    padding: 15px;
    width: 180px;
    font-size: 25px;
    transition: background-color 0.4s ease-in-out;
}

.button-header.scrolled {
    background-color: lightgreen;
    color: black;
}

/* HERO */

#container-hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    max-width: 100%;
    align-content: flex-end;
    margin: 0 100px;
}

#hero {
    min-height: 35rem;
    border-bottom: 1px solid black;
    background-color: #FFC017;
}


#container-hero h1 {
    font-size: 8rem;
    padding-top: 3rem;
}

#container-hero p {
    font-size: 2.1rem;
    margin-top: 1.5rem;
}

.button-hero {
    padding: 15px;
    font-size: 1.4rem;
    width: 270px;
    margin-top: 2.3rem;
    background-color: black;
    color: white;
}

/* TRENDING */

#container-trending {
    min-height: 40rem;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin: 0 48px;
}

#trending-img {
    width: 3rem;
}

.trending {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    /* margin-left: 8rem; */
}

.article {
    margin-inline: 100px;
    margin-bottom: 30px;
    max-width: 90%;

    /* display: flex; */
}

.trending h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 700;
}

.trending-number {
    font-size: 3.5rem;
    font-weight: 900;
    color: #EAE7E6;
    margin-right: 30px;
}

.avatar {
    border-radius: 50%;
    margin-right: 20px;
}

.name-trending {
    font-size: 1.6rem;
    color: grey;
    /* font-weight: 500; */
}

.name-trending span,
.cooper {
    color: black;
    font-weight: 600;
}

/* .avatar-trending {} */

.author-trending {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-trending,
.date-trending,
.date-trending-star {
    /* display: block; */
    margin-top: 15px;
}

.title-trending {
    font-size: 1.8rem;
    font-weight: 800;
}

.date-trending,
.date-trending-star,
.info-article {
    font-size: 1.4rem;
    color: gray;
}

/* .trending-article {} */

.info-article-trending {
    margin-left: 5.2rem;
}

.trending-article {
    padding-right: 150px;
}

.flex-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* margin: 0 100px; */

}

.date-trending-star,
.info-article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.star {
    width: 35px;
    margin-left: 10px;
}

/* ARTICLES */

#container-articles {
    max-height: 100%;
    flex: 3;
    /* La colonna degli articoli occupa più spazio */
    display: flex;
    flex-direction: column;

}

.single-article {
    display: flex;
    padding-block: 70px;
    align-items: flex-end;
}

#margin-articles {
    margin: 0 100px;
    min-width: 1000px;
}

/* .avatar-article {
} */

.name-article {
    font-size: 1.8rem;
    color: black;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#margin-articles h2 {
    font-size: 2.6rem;
    font-weight: 800;
    padding-block: 20px;
}

.text-article {
    font-size: 2rem;
    color: grey;
    padding-bottom: 10px;
}

.info-article span {
    background-color: rgb(235, 235, 235);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.save-article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bookmark-article {
    margin-left: 400px;
    width: 30px;
}

.image-article {
    height: 90%;
}

.cont-bookmark-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-left: -450px;
}

.margin-image {
    margin-right: 60px;
}

.flex-articles>div {
    min-width: 700px;
    margin-right: 20px;
    margin-bottom: 40px;
}

/* ASIDE */
.nav-laterale {
    width: 60%;
}

.nav-laterale h2 {
    font-size: 2.3rem;
    font-weight: 800;
    padding-bottom: 20px;
}

.nav-laterale button {
    padding: 20px;
    width: 220px;
    font-size: 1.3rem;
    color: gray;
    background-color: white;
    border: 1px solid #EAE7E6;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
}

.content {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 90px;
}

aside {
    margin-left: 150px;
    padding-bottom: 40px;
    border-bottom: 1px solid #EAE7E6;
    margin-bottom: 40px;
}



.links {
    margin-left: 150px;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
}

.links a {
    margin: 20px;
    color: gray;
    cursor: pointer;
}